%h2 Welcome to UnderJobs.Me Beta!
%p.lead Thank you for signing up!  We are so glad you are interested in what we are doing!

%hr

%p We are currently working on launching UnderJobs.Me.
%p Our goal is to bring you jobs quickly and easily by creating a single resume that is quick and easy to fill out.

%h5 Features
%ul
  %li Single resume.
  %li Apply for jobs with a single click.
  %li Targetted at those jobs that do not require a degree.

%p.lead We would love to get your feedback and ideas on what you want from the site!
%p To give feedback just email respond to this email at feedback@underjobs.me!
%p You can also contact any one of our founders.
%ul
  %li Shane Burkhart - shane@underjobs.me
  %li Ryan Endacott - ryan@underjobs.me
  %li Daniel Holmgren - daniel@underjobs.me