%h2 Welcome to UnderJobs.Me Beta!
%p.lead Thank you for signing up!  We are so glad you are interested in what we are doing!

%hr

%p We are currently working on launching UnderJobs.Me.
%p Our goal is to make it super easy to hire employees.  We focus on making it quick and efficent to find quality employees.

%h5 Features
%ul
  %li Eliminate paperwork.
  %li Save you valuable time.
  %li Our Employee Dashboard allows you to easily manage your listings.
  %li Find quality employees fast with our employee finder.

%p.lead We would love to get your feedback and ideas on what you want from the site!
%p To give feedback just email respond to this email at feedback@underjobs.me!
%p You can also contact any one of our founders.
%ul
  %li Shane Burkhart - shane@underjobs.me
  %li Ryan Endacott - ryan@underjobs.me
  %li Daniel Holmgren - daniel@underjobs.me