%h2 Welcome to FindMe.Jobs Beta!
%p.lead Thank you for signing up!  We are so glad you are interested in what we are doing!

%hr

%p We are currently working on launching FindMe.Jobs.
%p Our goal is to make it super easy to hire employees.  We focus on making it quick and efficent to find quality employees.

%h5 Features
%ul
	%li Eliminate paperwork.
	%li Save you valuable time.
	%li Our Employee Dashboard allows you to easily manage your listings.
	%li Find quality employees fast with our employee finder.

%p.lead We would love to get your feedback and ideas on what you want from the site!
%p To give feedback just reply to this email.

