%h2 Welcome to FindMe.Jobs Beta!
%p.lead Thank you for signing up!  We are so glad you are interested in what we are doing!

%hr

%p We are currently working on launching FindMe.Jobs.
%p Our goal is to bring you jobs quickly and easily by creating a single resume that is quick and easy to fill out.

%h5 Features
%ul
	%li Single resume.
	%li Apply for jobs with a single click.
	%li Targetted at those jobs that do not require a degree.

%p.lead We would love to get your feedback and ideas on what you want from the site!
%p To give feedback just reply to this email.