.marketing-section.text-center
	= simple_form_for @user, html: {class: "form-horizontal"} do |f|
		= f.input_field :email, placeholder: "Your Email", class: "span3"
		= f.button :submit, class: "btn-success btn-large", value: "Reserve Your Spot"
	%span.muted Over 100 users already have!