- if flash[:notice]
	.alert.alert-info
		= flash[:notice]

%h1.logo-brand UnderJobs.Me

.marketing-section
	.row-fluid
		.span10.offset1#listings-container

= render "email_form"

.marketing-section
	%h2 Helping Undergraduates Find Jobs!
	%p.lead We want to make it quick and easy for high school and college students to find jobs.

.marketing-section
	%h2 Stop Wasting Time - Find Jobs Quickly!
	%p.lead Don't waste anymore time searching for jobs.  Find available listings with a quick search.

.marketing-section
	%h2 No Degree Required!
	%p.lead Our primary goal is to find you jobs that don't require a college degree.

.marketing-section
	%h2 One Click Applications
	%p.lead Apply for jobs with a single click!

.marketing-section
	%h2 Single Resume
	%p.lead One simple resume makes it quick and easy to apply for tons of jobs.

= render "email_form"